/*--- Avanquest WebEasy Page Style ---*/


.cc07               { /* Common */
	font            : bold 14pt 'Segoe UI';
	color           : #ffffff;
	}
.cc08               { /* Common */
	clip            : rect(0.00pt,89.25pt,0.75pt,0.00pt);
	}
.cc09               { /* Common */
	border          :   0.00pt none #000000;
	}
img#e18             { /* lineblak.gif */
	position        : absolute;
	left            :  45.00pt;
	top             : 500.25pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
img#e17             { /* lineblak.gif */
	position        : absolute;
	left            :  45.00pt;
	top             : 450.75pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
img#e16             { /* lineblak.gif */
	position        : absolute;
	left            :  45.00pt;
	top             : 400.50pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
img#e15             { /* lineblak.gif */
	position        : absolute;
	left            :  45.00pt;
	top             : 351.00pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
div#e14             { /* Resume */
	position        : absolute;
	left            :  63.75pt;
	top             : 324.75pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
div#e13             { /* Multimedia */
	position        : absolute;
	left            :  63.75pt;
	top             : 374.25pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
div#e12             { /* Store */
	position        : absolute;
	left            :  63.75pt;
	top             : 423.75pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
div#e11             { /* News */
	position        : absolute;
	left            :  63.75pt;
	top             : 473.25pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
span#e10            { /* lineblak.gif */
	background      : transparent url(lineblak.gif) no-repeat top left;
	position        : absolute;
	left            :  45.00pt;
	top             : 299.25pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
div#e9              { /* Home */
	position        : absolute;
	left            :  63.75pt;
	top             : 275.25pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
img#e8              { /* lineblak.gif */
	position        : absolute;
	left            :  45.75pt;
	top             : 550.50pt;
	width           :  89.25pt;
	height          :   0.75pt;
	}
div#e7              { /* Contact */
	position        : absolute;
	left            :  64.50pt;
	top             : 523.50pt;
	width           : 103.50pt;
	height          :  21.75pt;
	}
span#e6             { /* toddmacintyre003004.gif */
	background      : transparent url(toddmacintyre003004.gif) no-repeat top left;
	position        : absolute;
	left            : 155.25pt;
	top             : 287.25pt;
	width           :   3.00pt;
	height          : 276.00pt;
	}
span#e5             { /* toddmacintyre003003.jpg */
	background      : transparent url(toddmacintyre003003.jpg) no-repeat top left;
	position        : absolute;
	left            :   3.00pt;
	top             :   3.75pt;
	width           : 742.50pt;
	height          : 249.00pt;
	}
div#e4              {
	position        : absolute;
	left            : 208.50pt;
	top             : 309.75pt;
	width           : 240.00pt;
	height          : 180.00pt;
	}
span#e3             { /* toddmacintyre003002.gif */
	background      : transparent url(toddmacintyre003002.gif) no-repeat top left;
	position        : absolute;
	left            : 588.00pt;
	top             : 271.50pt;
	width           : 146.25pt;
	height          : 213.75pt;
	}
span#e2             { /* toddmacintyre002001.jpg */
	background      : transparent url(toddmacintyre002001.jpg) no-repeat top left;
	position        : absolute;
	left            : 593.25pt;
	top             : 276.75pt;
	width           : 135.75pt;
	height          : 203.25pt;
	}
div#e1              { /* Todd MacIntyre - Vocal R... */
	background      : transparent url(toddmacintyre003001.gif) no-repeat top left;
	position        : absolute;
	left            : 210.75pt;
	top             : 282.00pt;
	width           : 267.75pt;
	height          :  40.50pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	background-image: url(toddmacintyre003b01.jpg);
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
