/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Links */
	color           : #e0e0e0;
	}
a:visited           { /* Visited Links */
	color           : #800080;
	}
a:hover             { /* Hover Links */
	color           : #404040;
	}
a:active            { /* Active Links */
	color           : #404040;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
table.ct06          { /* Document Style */
	background-color: #ffffff;
	border          :   0.75pt solid #000000;
	border-spacing  : 0px;
	table-layout    : auto;
	empty-cells     : show;
	}
table.ct06 td       { /* Document Style */
	color           : #000000;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	text-align      : right;
	border          :   0.75pt solid #000000;
	padding         :   1.50pt;
	vertical-align  : middle;
	}
table.ct06 th       { /* Document Style */
	color           : #000000;
	font            : italic 10pt 'Arial', Helvetica, sans-serif;
	background-color: #ffffff;
	text-align      : left;
	border          :   0.75pt solid #000000;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct06 .ch06 th { /* Document Style */
	color           : #ffffff;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	background-color: #000000;
	text-align      : left;
	border          :   0.75pt solid #000000;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
.address            {
	color           : #000000;
	font            : italic 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.citation           {
	color           : #000000;
	font            : italic 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.code               {
	color           : #000080;
	font            : 12pt 'Courier New', monospace;
	}
.emphasis           {
	color           : #000000;
	font            : italic 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.heading1           {
	color           : #000000;
	font            : bold 24pt 'Arial', Helvetica, sans-serif;
	}
.heading2           {
	color           : #000000;
	font            : bold 20pt 'Arial', Helvetica, sans-serif;
	}
.heading3           {
	color           : #000000;
	font            : 18pt 'Arial', Helvetica, sans-serif;
	}
.heading4           {
	color           : #000000;
	font            : italic 16pt 'Arial', Helvetica, sans-serif;
	}
.heading5           {
	color           : #000000;
	font            : 14pt 'Arial', Helvetica, sans-serif;
	}
.heading6           {
	color           : #000000;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.sly                { /* Special */
	display         : none;
	}
.small              {
	color           : #000080;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}


/*--- EndOfFile ---*/
